/* *{
    margin: 0px;
    padding: 0px;
} */

.box{
    background-color: red;
    color: azure;
    /* margin: 20px; */
    height: 100px;
    width: 100px;
    /* text-align: center; */
    flex-shrink: 0;



}

.flex-container{
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap-reverse; */
    height: 200px;
    /* width: 200px; */
    border: 2px solid black;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-evenly;
}
.flex-container2{
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap-reverse; */
    height: 200px;
    /* width: 200px; */
    border: 2px solid black;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-around;
}
.flex-container3{
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap-reverse; */
    height: 200px;
    /* width: 200px; */
    border: 2px solid black;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-between;
}
.flex-container4{
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap-reverse; */
    height: 200px;
    /* width: 200px; */
    border: 2px solid black;
    /* flex-wrap: wrap-reverse; */
    justify-content: center;
}
.flex-container5{
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap-reverse; */
    height: 200px;
    /* width: 200px; */
    border: 2px solid black;
    /* flex-wrap: wrap-reverse; */
    justify-content: center;
    align-items: flex-;
}
/* main axis 
justify content row
align items column */