/* body{
    border: 2px orangered solid;
} */

/* Body selector */

/* *{
    border: 2px orangered solid;
} */

/* Everthing is seleted using * */

.parent-div{
    color: orangered;
    border: 3px solid salmon;
    padding: 15px;
    margin: 20px;
    width: 600px;
    cursor: e-resize;
    box-sizing: border-box;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
