p{
    color: blueviolet ;
}

/* If you use !important after the CSS it overrides inline CSS */

.border-primary{
    /* color: orangered;
    border-style: solid;
    
    border shorthand properties */
    border: 4px solid orangered ; 
    border-radius: 4px;
}